<!-- Header -->
<header class="header" th:fragment="navbar">
  <div class="header-title"><i class="fas fa-scissors"></i> Trimly</div>
  <div class="header-buttons">
    <a href="/sign-in"> <i class="fas fa-sign-in-alt"></i> Sign In </a>
    <a href="/sign-up"> <i class="fas fa-user-plus"></i> Sign Up </a>
    <a id="themeToggle"><i class="fas fa-moon"></i> Dark Mode</a>
  </div>
</header>

<!-- Footer -->
<footer class="footer" th:fragment="footer">
  <p>&copy; 2024 Trimly. All Rights Reserved.</p>
  <p>
    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> |
    <a href="#">Contact Us</a>
  </p>
</footer>
