<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <title>Trimly - URL Shortener</title>
  </head>
  <body>
    <section id="content">
      <div th:replace="~{components :: alertBox}"></div>
      <!-- URL Shortener Section -->
      <div class="container">
        <div class="url-shortener">
          <h2>Shorten Your URL</h2>
          <form
            th:action="@{/shorten}"
            th:object="${linkRequestDto}"
            method="POST"
            novalidate
          >
            <div class="input-group">
              <input
                type="text"
                id="shorten"
                th:field="*{longUrl}"
                placeholder="Enter URL Here"
                required
              />

              <button type="submit">Shorten</button>
              <div class="pl-5">
                <p
                  class="error"
                  th:if="${#fields.hasErrors('longUrl')}"
                  th:errors="*{longUrl}"
                ></p>
              </div>
            </div>

            <div>
              <div class="switch">
                <label for="extraDetailsCheck">Add extra details :</label>
                <label>
                  <input
                    type="checkbox"
                    class="checkbox"
                    id="extraDetailsCheck"
                    value="true"
                  />
                  <div class="slider"></div>
                </label>
              </div>

              <!-- if above checkbox is checked -->
              <div id="extraDetails" style="display: none">
                <div class="input-group">
                  <input
                    class="extraDetailsForm"
                    type="text"
                    th:field="*{title}"
                    placeholder="Enter link title here."
                  />
                </div>

                <div class="switch">
                  <label for="protectLinkCheck"
                    >Protect Link :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                    &nbsp;</label
                  >
                  <label>
                    <input
                      type="checkbox"
                      class="checkbox"
                      id="protectLinkCheck"
                      value="true"
                    />
                    <div class="slider"></div>
                  </label>
                </div>
                <!-- Allow Password if Above checkbox is checked.  -->

                <div
                  class="password-fields"
                  id="protectLink"
                  style="display: none"
                >
                  <div class="input-group">
                    <input
                      class="extraDetailsForm"
                      type="password"
                      th:field="*{password}"
                      id="password"
                      placeholder="Enter Password"
                      required
                    />
                  </div>

                  <div class="input-group">
                    <input
                      class="extraDetailsForm"
                      type="password"
                      th:field="*{confirmPassword}"
                      id="confirmPassword"
                      placeholder="Confirm Password"
                      required
                    />
                    <!-- Error Message Container -->
                    <div
                      id="passwordError"
                      style="color: red; display: none; font-size: small"
                    >
                      Passwords do not match!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Single Table for Features -->
      <div class="card-container">
        <h3>Benefits of Using Trimly</h3>
        <table>
          <thead>
            <tr>
              <th>Feature</th>
              <th>Non-Registered Users</th>
              <th>Registered Users</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Shorten any URL easily</td>
              <td class="check">✔</td>
              <td class="check">✔</td>
            </tr>
            <tr>
              <td>Save time while sharing</td>
              <td class="check">✔</td>
              <td class="check">✔</td>
            </tr>
            <tr>
              <td>Lifetime saved shortened URLs</td>
              <td class="cross">✘</td>
              <td class="check">✔</td>
            </tr>
            <tr>
              <td>View link statistics</td>
              <td class="cross">✘</td>
              <td class="check">✔</td>
            </tr>
            <tr>
              <td>Manage your links</td>
              <td class="cross">✘</td>
              <td class="check">✔</td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center; margin-top: 20px">
          <a href="/sign-up">
            <button><i class="fas fa-user-plus"></i> Sign Up</button>
          </a>
        </div>
      </div>
    </section>

    <script>
      document
        .getElementById("extraDetailsCheck")
        .addEventListener("change", function () {
          const extraDetails = document.querySelector("#extraDetails");
          if (this.checked) {
            extraDetails.style.display = "block";
          } else {
            extraDetails.style.display = "none";
          }
        });

      document
        .getElementById("protectLinkCheck")
        .addEventListener("change", function () {
          const protectLink = document.querySelector("#protectLink");
          if (this.checked) {
            protectLink.style.display = "block";
          } else {
            protectLink.style.display = "none";
          }
        });

      function checkPasswordsMatch() {
        const password = document.getElementById("password").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;

        // Get the error message element and submit button
        const passwordError = document.getElementById("passwordError");
        const submitButton = document.querySelector("button[type='submit']");

        if (password !== confirmPassword) {
          // Show error message and disable submit button
          passwordError.style.display = "block";
          submitButton.disabled = true;
        } else {
          // Hide error message and enable submit button
          passwordError.style.display = "none";
          submitButton.disabled = false;
        }
      }

      // Event listener for password field change
      document
        .getElementById("password")
        .addEventListener("change", checkPasswordsMatch);

      // Event listener for confirm password field change
      document
        .getElementById("confirmPassword")
        .addEventListener("change", checkPasswordsMatch);
    </script>
  </body>
</html>
