<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <title>Sign In - Trimly</title>
  </head>
  <body class="light">
    <!-- Login Form Section -->
    <section id="content" style="margin-bottom: 97px">
      <div class="form-container">
        <div class="form">
          <div th:replace="~{components :: alertBox}"></div>
          <!-- if use /sign-in?logout=true or /sign-in?error=true -->
          <!-- <div th:if="${param.logout}">
            <div th:replace="~{components :: logoutAlert}"></div>
          </div>
          <div th:if="${param.error}">
            <div th:replace="~{components :: invalidAlert}"></div>
          </div> -->
          <h2><i class="fas fa-sign-in-alt"></i> Sign-In</h2>
          <form th:action="@{/authenticate}" method="POST">
            <div class="mb-3 flex-column">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>

            <div class="mb-3 flex-column">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>

            <!-- Remember Me Checkbox -->
            <div class="mb-3 flex-column">
              <label class="remember-me">
                <input type="checkbox" name="remember" id="remember" />
                Remember Me
              </label>
            </div>

            <div class="flex-column">
              <button type="submit">Sign In</button>
            </div>

            <!-- Forgot Password Link -->
            <div class="flex-column forgot-password">
              <a href="/forgot-password">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </section>
    <script></script>
  </body>
</html>
